
.vs/AI/DesignTimeBuild/.dtbcache
.vs/AI/DesignTimeBuild/.dtbcache
.vs/AI/v16/.suo
.vs/AI/v16/Server/sqlite3/storage.ide
.vs/AI/v16/Server/sqlite3/storage.ide-shm
.vs/AI/v16/Server/sqlite3/storage.ide-wal
AI/bin/Debug/netcoreapp2.1/AI.dll
AI/bin/Debug/netcoreapp2.1/AI.pdb
AI/obj/Debug/netcoreapp2.1/AI.csproj.FileListAbsolute.txt
AI/obj/Debug/netcoreapp2.1/AI.csprojAssemblyReference.cache
AI/obj/Debug/netcoreapp2.1/AI.dll
AI/obj/Debug/netcoreapp2.1/AI.pdb
